@font-face {
	font-family: 'Poetsen';
	src: url("../fonts/Poetsen/PoetsenOne-Regular.ttf");
	font-size: 1em;
}



	@media screen and (min-width: 200px) and (max-width: 900px) {

	

		header {
			background-color: #0f1111;
			background-image: url("../png/5.png");
			background-size: 100%;
			max-width: 100%;
			height: 600px;
			padding: 200px 0px 0px 0px;
		}

		.hamburguer{

			max-width: 100%;
			height: 600px;
		}

		#menu li{
			font-size: 50px;
			font-weight: bold;
			text-align: left;
			width: 100%
			padding: 0px 0px 0px 0px;
			list-style: none;
		}

		a:link{
		color: white;	
		
		}

		a:hover{

			color: white;
		}

		a{
			color: white;
			
		}

		img{

			width:100%;
			height:100%;
		
	
		}

	
		.row{

			padding: 0px 0px 0px 0px;
			margin: 0px 0px 0px 0px;
		}
	


		footer{
			
		
			background-image: url("C:../png/6.png");
			background-size: 100%;
			max-width: 100%;
			height: 240px;
			padding: 65px 0px 0px 0px;
			
		}

		p{
			font-size: 35px;
		}

		.col-phone{
			color: white;
			list-style: none;
			text-align: center;
		}

		.col-instagram{
			color: white;
			list-style: none;
			text-align: center;
		}

		.col-facebook{
			color: white;
			list-style: none;
			text-align: center;
		}


	}
		

	@media screen and (min-width:900px) {





		header {
			background-color: #ffcd4e;
			background-image: url("../png/5.png");
			background-size: 100%;
			max-width: 100%;
			height: 500px;
			padding: 150px 0px 0px 0px;
	
		}

		

		#menu li{
			font-size: 30px;
			font-weight: bold;
			text-align: left;
			width: 100%;
			padding: 0px 0px 0px 0px;
			list-style: none;
		}

		.hamburguer{

			max-width: 100%;
			height: 600px;
		}

		a:link{
		color: white;	
		
		}

		a:hover{

			color: white;
		}

		a{
			color: white;
		}

		img{

			width:100%;
			height:100%;
		
	
		}


		.row{

			padding: 0px 0px 0px 0px;
			margin: 0px 0px 0px 0px;
		}
	

		footer{
			
			background-color: white;
			background-image: url("../png/6.png");
			background-size: 100%;
			max-width: 100%;
			height: 240px;
			padding: 65px 0px 0px 0px;
			
		}

		p{
			font-size: 35px;
		}

		.col-phone{
			color: white;
			list-style: none;
			text-align: center;
			
			
		}

		.col-instagram{
			color: white;
			list-style: none;
			text-align: center;
			
			
		}

		.col-facebook{
			color: white;
			list-style: none;
			text-align: center;
			
		}
		
	}
